<a href="https://colab.research.google.com/github/AdrianDali/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
colores = ['rojo','azul','morado','verde','amarillo','rosa']
#solo mostrar ciertas partes de las palabras
print(colores[2][2:4]) # si no pones incremento por de
print(colores[0:3:1])

ra
['rojo', 'azul', 'morado']

In [ ]:
nombre = ['alberto']
for j in range (0,len(nombre),1):
  print(nombre[j])

alberto

In [ ]:
#String continuacion

frase = "si funciona.. !no loc ompongas¡"
numero_txt ="   1,2,3,4  ,5, 35,  15,  12"
print(numero_txt)
numero_txt = numero_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
    numero_txt[j] = int(numero_txt[j].strip())

print(numero_txt)

#funcion range 
#range(inicio,stop,incrmento)
print(range(1,10,3))
rango = range(1,10,2)
for x in rango:
  print(x)

# listas
-mutables
-se declaran con corchetes cuadrados
-selector [int ]
-pueden ser de cualquier tipo y mezclado

#tuplas
-no mutables
-se declaran con ()
-el selector es de igual que en las listas
#diccionarios
-conjunto de pares llave:valor
-son mutables
-equivalentes a los objetos json de javaScript
#conjuntos
-representacion de la teoria de conjuntos

In [23]:
#listas
frutas = ["pera", "manzana","frresa","kiwi","naranja"]
print (frutas)
cosas = ["cuaderno",2,3,4,44.44,True,False,["rojoi", "azul"]]
print(cosas)
frutas[2] = "fresa"#fruta[2] = frutas[2].capitalize()
print(frutas)
#agregar lista
#APEND E INSER SE OCUPARA MUCHISIMO
frutas.append("aguacate")
print(frutas)
frutas.insert(2,"sandia")
print(frutas)

#concatenar listas
fecha = ["06","10","2020"]
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)

['pera', 'manzana', 'frresa', 'kiwi', 'naranja']
['cuaderno', 2, 3, 4, 44.44, True, False, ['rojoi', 'azul']]
['pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['pera', 'manzana', 'fresa', 'kiwi', 'naranja', 'aguacate']
['pera', 'manzana', 'sandia', 'fresa', 'kiwi', 'naranja', 'aguacate']
['06', '10', '2020']
06/10/2020

In [27]:
#eliminar elementos
cosas = ["cuaderno",2,3,4,44.44,True,False,["rojoi", "azul"]]
print(cosas)
cosas.append("libro")
cosas.append("lapiz")
print(cosas)
algo = cosas.pop()
print(cosas)
algo = cosas.pop(2)
print(cosas)
#vaciar lista
cosas.clear()
print(cosas)

['cuaderno', 2, 3, 4, 44.44, True, False, ['rojoi', 'azul']]
['cuaderno', 2, 3, 4, 44.44, True, False, ['rojoi', 'azul'], 'libro', 'lapiz']
['cuaderno', 2, 3, 4, 44.44, True, False, ['rojoi', 'azul'], 'libro']
['cuaderno', 2, 4, 44.44, True, False, ['rojoi', 'azul'], 'libro']
[]

In [38]:
#slicing
cosas = ["cuaderno",2,3,4,44.44,True,False,["rojoi", "azul"]]
print(cosas[5:7:1])
print(cosas[0][3:5:1]) #para imprimir solo las letras que se van a usar

numeros = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros)
print(numeros[7:12:1])
#sustituir rebanadas -2,2 -> {0,1,2,3,4,5,6,7,8,9,}
numeros[7:13:1] = [-2,2] #para añadir
print(numeros)

#preguntar por existencia
print(-2 in numeros)#esta preguntando si hay un menos 2 en numeros

[True, False]
de
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, -2, 2, 14, 15]
True

#listas multidimension
-listas dentro de listas

In [64]:
computadoras = ["HP","Mac book Pro 17","Mate Book","Lenovo legion"]
oss = ["Windows 10","Linux","Andorid","IOS"]

computo = [computadoras,oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5::-1])
print(computo[0][3][-8::-1])
print("Linux" in oss)
dbms = [["Mysql","Open Source",[False]],["MS SQL Server","de paga",True]]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac book Pro 17', 'Mate Book', 'Lenovo legion']
['Windows 10', 'Linux', 'Andorid', 'IOS']
Mate Book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac book Pro 17', 'Mate Book', 'Lenovo legion'], ['Windows 10', 'Linux', 'Andorid', 'IOS'], [['Mysql', 'Open Source', [False]], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga